# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\research\sitemesh_lesson-15-learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
